@import url('https://fonts.googleapis.com/css?family=Open+Sans');




 body{
  margin: 0px;
  margin-top: 10px;
  background-color:grey;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-weight: bold;
}
img{
  width:60px;
  height:60px;
}
#image{
  text-align: right;
}
.image_title{
display:flex;
}

.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}


.column{
   overflow: hidden;
   background-color: #000000;
   display: inline-block;
   width: 90px;
   height: 70px;
   text-align: center;
   margin-top: 4px;
   font-size: 30px;
   padding-top: 30px;
   color: #ffffff;
   border-radius:.5em;
}



#reset{
  padding:20px;
  font-size: 20px;
  margin-top:10px;
}

footer{
  padding:10px 0;
  font-weight:bold;
  font-size:14px;
  color:white;
  text-align:center;
}

/* .box
{
  position : absolute;
  display:inline-block;
  width:95px;
  height:95px;
  margin-top:2px;
  padding-top:3px;
  font-size:80px;
}

.column{
   overflow: hidden;
   margin-top: 4px;
   /* background-color: #000000;
   display: inline-block;
   width: 90px;
   height: 70px;
   text-align: center;
   margin-top: 4px;
   font-size: 30px;
   padding-top: 30px;
   color: #ffffff;
   border-radius:.5em; */
 /*  
}
.row0
{

  top:300px;
  border-bottom:red solid 3px;
  padding-left:15px;
  margin-left:150px;
}
.row1
{
  top:400px;
  border-bottom:red solid 3px;
  padding-left:15px;
  margin-left:150px;
}

.row2
{
  top:500px;
  padding-left:15px;
  margin-left:150px;
}

.col0{
  left:400px;
  border-right:red solid 3px;

}

.col1{
  left:500px;
  border-right: red solid 3px;
}

.col2{
  left:600px;
} */
